:root{
    --VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --SoftRed: hsl(14, 88%, 65%);

    --SoftViolet: hsl(273, 75%, 66%);
    --SoftBlue: hsl(240, 73%, 65%);

    --VeryDarkGrayishBlue: hsl(237, 12%, 33%);
    --DarkGrayishBlue: hsl(240, 6%, 50%);

    --LightGrayishBlue: hsl(240, 5%, 91%);
}
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: none;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;
    padding:20px;
    font-size: 12px;
    background-image: linear-gradient(to bottom,var(--SoftViolet),var(--SoftBlue));
}
.container{
    width: 1000px;
    max-width: 1000px;
    height:600px;
    background: url(images/bg-pattern-desktop.svg) no-repeat right 550px bottom 30%, url(images/illustration-woman-online-desktop.svg) no-repeat center right 550px, white;
    background-size: auto, 550px;
    position: relative;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.container::after{
    content: "";
    width: 200px;
    height:200px;
    background: url(images/illustration-box-desktop.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right:93%;
    top:60%;
    transform: translateY(-50%);
}
.accordian{
    margin-left: 45%;
    width: 55%;
    padding:100px;

    display: flex;
    flex-direction: column;
}
.accordian h1{
    font-size: 3em;
    color: var(--VeryDarkDesaturatedBlue);
}
.accordian button{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.3em;
    text-align: left;
    padding: 10px 30px 10px 0;
    position: relative;
    
}
.accordian button:hover{
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}
.accordian button::after{
    content: "";
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%)rotate(0deg);
    width: 15px;
    height: 15px;
    background: url(images/icon-arrow-down.svg) no-repeat;
    background-size: contain;
    transition: transform .2s;
}
.active-button::after{
    transform: translateY(-50%)rotate(180deg) !important;
}
.inner{
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 15px;
    color: var(--DarkGrayishBlue);
    display: none;
}
.accordian hr{
    width: 100%;
    border: 1px solid var(--LightGrayishBlue);
}
.active-button{
    font-weight: 700;
}
.active-button + .inner{
    display: block;
}

@media only screen and (max-width:1200px){
    .container{
        background: white;
        height: auto;
        min-height: 600px;
    }
    .container::after{
        display: none;
    }
    .accordian{
        margin-left: 0;
        width: 100%;
        padding: 100px 20px 20px;
    }
    .container::before{
        content:"";
        position:absolute;
        width: 250px;
        height: 250px;
        left: 50%;
        top:0;
        transform: translate(-50%,-57%);
        background: url(images/illustration-woman-online-desktop.svg) no-repeat center, url(images/bg-pattern-mobile.svg) no-repeat center bottom;
        background-size: contain;
    }
    .accordian h1{
        text-align: center;
    }
}
